.idea/

*.phar

vendor/
build/
target/
bin/

/app/config/parameters.yml
/app/bootstrap.php.cache
!app/cache/.gitkeep
app/cache
!app/logs/.gitkeep
app/logs
app/sessions

web/bundles/
web/css/
web/js/
web/fonts/
web/images/
web/less/

/app/SymfonyRequirements.php
